p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.sidebar {
  border-left: 7px solid #ccc;
  margin: 1em 0;
  padding-left: 1em;
}

article{
   margin-top: 25px;
}   

